<div class="d-grid gap-3">
  <div>    
    <mat-form-field class="example-full-width">
        <mat-label>Base64</mat-label>
        <textarea matInput [(ngModel)]="Base64" cols="30" rows="10"></textarea>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" class="mce-i-aligncenter" (click)="decodeClick()">Decode</button>
  </div>


  <div>    
  <mat-form-field class="example-full-width">
    <mat-label>Function Name</mat-label>
    <input matInput [(ngModel)]="FunctionName" name="FunctionName" type="text" >
  </mat-form-field>
  </div>

  <div>    
    <mat-form-field class="example-full-width">
        <mat-label>RequestItem</mat-label>
        <textarea matInput [(ngModel)]="RequestItem" name="RequestItem" rows="10"></textarea>
    </mat-form-field>
  </div>
</div>
